<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- cam permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <!-- location permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DicodingStory"
        tools:targetApi="31">
        <activity
            android:name=".ui.maps.MapsStoryActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDA_WIUJQcIaXW9AybiSPwnx93aXNL5NZQ" />

        <activity
            android:name=".ui.story.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.story.AddStoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DetailStoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.MainActivity"
            android:exported="false" />
    </application>

</manifest>